nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 20px;
  padding-right: 50px;
  background-color: rgb(190, 230, 246);
}
.logo {
  width: 180px;
  margin: 10px;
}
.searchInput {
  margin: 0px;
  border: none;
  width: 150px;
}
.searchdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 200px;
  border: 1px solid #bfbfbf;
  background-color: #ffffff;
}
.icon {
  border: none;
  background-color: #ffffff;
}
.search-head {
  color: #ffffff;
  text-align: center;
}

@media (max-width: 768px) {
  .logo {
    width: 100px;
    margin: 0px;
  }

  nav {
    justify-content: space-between;
    padding: 10px;
    width: 100vw;
    height: 10vh;
  }
  .searchdiv {
    height: 30px;
    width: 170px;
    margin: 5px;
  }
  .searchInput {
    height: 29px;
  }
}
